<u><span style="color:red;">**Exercise 2: Create markdown cell with title of the notebook**</span></u>

# Data Science Tools and Ecosystem

<u><span style="color:red;">**Exercise 3 - Create a markdown cell for an introduction**</span></u>

In this notebook, Data Science Tools and Ecosystem are summarized.

<u><span style="color:red;">**Exercise 10 - Insert a markdown cell to list Objectives**</span></u>

**Objectives:**
* Python
* R
* Julia
* SQL
* Scala

<u><span style="color:red;">**Exercise 4 - Create a markdown cell to list data science languages**</span></u>

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

<u><span style="color:red;">**Exercise 5 - Create a markdown cell to list data science libraries**</span></u>

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlip

<u><span style="color:red;">**Exercise 6 - Create a markdown cell with a table of Data Science tools**</span></u>

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| RStudio |
| Visual Studio Code |

<u><span style="color:red;">**Exercise 7 - Create a markdown cell introducing arithmetic expression examples**</span></u>

### Below are a few examples of evaluating arithmetic expressions in Python.

<u><span style="color:red;">**Exercise 8 - Create a code cell to multiply and add numbers**</span></u>

In [2]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

<u><span style="color:red;">**Exercise 9 - Create a code cell to convert minutes to hours**</span></u>

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<u><span style="color:red;">**Exercise 11 - Create a markdown cell to indicate the Author's name**</span></u>

## Author
Khaled Genena